<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	<f:section name="content">
		<h1>Siteimprove</h1>

		<f:flashMessages />

		<script type="text/javascript" src="https://cdn.siteimprove.net/cms/overlay.js"></script>
		<script type="text/javascript">
			$(document).ready(function() {
				var _si = window._si || [];
				$.ajax({
					url: 'https://my2.siteimprove.com/auth/token?cms=TYPO3 8'
				})
				.done(function(data) {
					if (data.token) {
						_si.push(['domain', 'www.pixelant.se', data.token, function() { console.log('https://pixelant.se'); }])
					}
				});
				if (window._si !== undefined) { window._si.push(['showlog','']); }
			});
		</script>
	</f:section>
</html>